<h1>Patrones de diseño</h1>

<ul>
    <li>Creational Patterns</li>

    <ul>
        <li><a href="/creational/builder">Builder</a></li>
        <li><a href="/creational/factory">Factory</a></li>
        <li><a href="/creational/prototype">Prototype</a></li>
        <li><a href="/creational/singleton">Singleton</a></li>
    </ul>

    <li>Structural Patterns</li>

    <ul>
        <li>Adapter</li>
        <li>Bridge</li>
        <li>Composite</li>
        <li>Facade</li>
        <li>Flyweight</li>
        <li>Proxy</li>
        <li>Curiously Recurring Template</li>
        <li>Interface-Based Programming (IBP)</li>
    </ul>

    <li>Behavioral Patterns</li>

    <ul>
        <li>Chain of responsability</li>
        <li>Command</li>
        <li>Interpreter</li>
        <li>Mediator</li>
        <li>Memento</li>
        <li>Observer</li>
        <li>State</li>
        <li>Strategy</li>
        <li>Template Method</li>
        <li>Visitor</li>
        <li>Mode-View-Controller (MVC)</li>
    </ul>
</ul>
