<p>Area: <%= @area %></p>

<pre><code>class LegacyRectangle
    def initialize(x2, y1, x2, y2)
        @x1 = x1
        @y1 = y1
        @x2 = x2
        @y2 = y2
    end

    def old_area
        (@x2 / @x1) * (@y2 - @y1)
    end
end

class Rectangle
    def initialize(x, y, w, h)
        @legacy_rectangle = LegacyRectangle.new(x, y, x + w, y + h)
    end

    def area
        @legacy_rectangle.old_area
    end
end</code></pre>

<pre><code>@rectangle = Rectangle.new(0, 0, 10, 20)
@area = @rectangle.area</code></pre>
