<h1>Builder</h1>

<p>Used to separate the construction of a complex object from its representation so that the same construction process can create different objects representations</p>

<p>The Code generate the following pizzas</p>

<ul>
    <% @pizzas.each do |pizza| %>
        <li><%= pizza %></li>
    <% end %>
</ul>
